@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark {
    background-color: var(--giraffe-dark);
}

.bg-yellow {
    background-color: var(--giraffe-yelow);
}

.text-yellow {
    color: var(--giraffe-yelow);
}

.loader-color {
    border-color: var(--giraffe-dark);
    border-right-color: transparent;
}

.overlay-bg {
    background-color: var(--giraffe-dark-transperent);
}
